.datasets-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
}

.dataset-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;
    background-color: var(--bg-card);
    border-radius: 10px;
    gap:5px;
    min-width: 300px;
}

.dataset-info:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.dataset-info>.dataset-title{
    font-size: 22px;
    font-weight: 600;
}

.dataset-info>.dataset-description{
    font-size: 16px;
    font-weight: 200;
}